@charset "UTF-8";
/**** yunzhan ****/
body { font-family:"Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif,'MicrosoftYaHeiLight','Microsoft YaHei Light','Microsoft YaHei';position:relative; }
#chart { margin:5px 0; }
.title { font-weight:100; }
.rfm .px {height:auto;}
a{ color:#333}
a:hover { text-decoration:none;}
p img { margin:0; }
li{list-style: none}
.clear{ clear:both}
nav, footer, section, article{display: block}
.min-1200{min-width: 1200px}
.w1200{width: 1200px; margin:0 auto}
.font-hide{overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.ovh{overflow: hidden}
.auto{margin-left: auto;margin-right: auto}
.art_l{float: left}
.art_r{float: right}
.txa-l{text-align: left}
.txa-c{text-align: center}
.txa-r{text-align: right}
.dis-ib{display: inline-block}
.dis-b{display: block}
.ver-t{vertical-align: top}
.ver-m{vertical-align: middle}
.pis-re{position: relative}
.pis-ab{position: absolute}
.m5{margin: 5px}
.ml5{margin-left: 5px}
.mr5{margin-right: 5px}
.mt5{margin-top: 5px}
.mb5{margin-bottom: 5px}
.p5{padding: 5px}
.pl5{padding-left: 5px}
.pr5{padding-right: 5px}
.pt5{padding-top: 5px}
.pb5{padding-bottom: 5px}
.mr8{ margin-right: 8px}
.m10{margin: 10px}
.ml10{margin-left: 10px}
.mr10{margin-right: 10px}
.mt10{margin-top: 10px; overflow: hidden;}
.mb10{margin-bottom: 10px}
.p10{padding: 10px}
.pl10{padding-left: 10px}
.pr10{padding-right: 10px}
.pt10{padding-top: 10px}
.pb10{padding-bottom: 10px}
.m15{margin: 15px}
.ml15{margin-left: 15px}
.mr15{margin-right: 15px}
.mt15{margin-top: 15px}
.mb15{margin-bottom: 15px}
.p15{padding: 15px}
.pl15{padding-left: 15px}
.pr15{padding-right: 15px}
.pt15{padding-top: 15px}
.pb15{padding-bottom: 15px}
.m20{margin: 20px}
.ml20{margin-left: 20px}
.mr20{margin-right: 20px}
.mt20{margin-top: 20px}
.mb20{margin-bottom: 20px}
.p20{padding: 20px}
.pl20{padding-left: 20px}
.pr20{padding-right: 20px}
.pt20{padding-top: 20px}
.pb20{padding-bottom: 20px}
.moodfm_btn{ padding-left:0}
.mi td span{ padding-right:10px}
.mi .moodfm_input{ width:auto!important}
.clear:after{content: "";height: 0;display: block;clear: both;overflow: hidden}
.dis-tb{display: table}
.dis-item{display: table-cell;vertical-align: middle}
.img-hover{-webkit-transition: all .5s;transition: transform .5s}
.img-hover:hover{-webkit-transform: scale(1.2);transform: scale(1.2)}
.pis-hover:hover{position: relative;top: 1px;left: 1px}
.media-article{padding-left: 12px}
.media-article .title{font-size: 20px;font-weight: normal;margin-bottom: 8px;color: #525252}
.media-article .title:hover{color: #f60}
.media-article p{color: #a8a8a8}
.media-article .read-more{color: #a8a8a8}
.media-article .read-more:hover{color: #f60}
.news-list li{color: #525252}
.list-date li a{width: 100%;max-width: 100px}
.list-date li .date{width: 50px;min-width: 50px;text-align: right;color: #a8a8a8}
.list-disc li{padding-left: 10px;position: relative}
.list-disc li:before{content: "·";position: absolute;left: 2px;top: 0}
.img-tit{line-height: 36px;font-size: 16px;color: #fff;width: 100%;height: 0;-webkit-transition: height .5s;transition: height .5s;bottom: 0;background: #000;background: rgba(0,0,0,0.6);box-sizing: border-box;padding: 0 10px}
.media-con:hover .img-tit{height: 36px}
.media-list li{margin-bottom: 10px}
.media-tit{color: #525252;font-size: 16px;height: 40px;line-height: 40px}
.media-tit:hover{color: #f60}
.ovh {overflow: hidden}
.android, .ios{width: 20px;height: 20px;display: inline-block;vertical-align: middle;margin-right: 8px}
.android{background: url(../img/icon.png) no-repeat -20px -394px}
.ios{background: url(../img/icon.png) no-repeat 0 -394px}
.pub-bg{height: 1000px}
.main{background: #f6f6f6;padding-bottom: 20px;margin-top: -700px}
.nav-position i{background: url(../img/icon.png) no-repeat -108px -205px;width: 21px;height: 22px;margin-right: 5px}
.f-bg{background: #fff}
.erweima{width: 268px;margin-bottom: 15px}
.erweima img{width: 124px;height: 124px}
.about-us{line-height: 24px;color: #323232}
.about-us a{color: #aaa;margin: 0 8px}
.about-us a:hover{color: #f60}
.copyright{line-height: 24px;color: #aaa}
.copyright span{width: 6px}
.to-top{background: url(../img/icon.png) no-repeat -212px -155px;width: 70px;height: 70px;position: fixed;bottom: 90px;left: 50%;margin-left: 620px;cursor: pointer;display: none}
.font-hidee{overflow: hidden;text-overflow: ellipsis}
.font-hoverr:hover{color: #2ea07f}

#toptb{ background:#f0f2fa; overflow:hidden; min-width:1200px}
.nav_bar_box { background: #091738; display:block; clear:both; min-width:1200px; }
.nav_min .search { float:right; margin-right:10px; margin-top:10px; }
.nav_min .search input#s {background:none repeat scroll 0 0 rgb(255,255,255); color:rgb(85,85,85); border:medium none; float:right; }
.yunzhan_m_n,.yunzhan_m_n * { margin:0; padding:0; list-style:none outside none; }
.yunzhan_m_n { line-height:1; float:left; height:60px; overflow: hidden;}
.yunzhan_m_n ul { position:absolute; top:-999em; width:8.8em; }
.yunzhan_m_n ul li { width:100%; }
.yunzhan_m_n li { float:left; margin-right:0; }
.yunzhan_m_n li.active a { color:#000; background: #e4e9f5;}
.yunzhan_m_n li li { margin-right:15px; }
.yunzhan_m_n li { background:none repeat scroll 0 0 transparent; }
.yunzhan_m_n a { display:block; text-decoration:none; z-index:11; }
.yunzhan_m_n li a { line-height:60px; font-size:16px; color: rgba(255, 255, 255, .7); padding:0 30px; }
.yunzhan_m_n li a:hover,
.yunzhan_m_n li.sfHover a { text-decoration:none; background: #e4e9f5; color:#000;}
.yunzhan_m_n li:hover { color:#f46; }
.yunzhan_m_n li li { background:none; }
.yunzhan_m_n li li li { background:none; }
.yunzhan_m_n a.sf-with-ul { padding-right:28px; min-width:1px; }
.bodycontainer.nav_mincontainer { z-index:10; }
.nav_content { margin:0 auto; background:none;z-index:13; }
.yunzhan_m_n a { color:#fff; }
.logo { float:left; margin-top:5px; overflow:hidden; margin-right:100px; }
.logo_ad{ overflow:hidden; }
.p_pop li{ border-bottom:1px solid #f7f7f7; }
.p_pop a{ padding:3px 10px; border-bottom:none;}
.ernav li a{ padding:3px 10px}
.newnav_box {width:730px; float:left; height:60px; overflow: hidden;}


/**user**/
.yunzhan_list{ margin-bottom:60px}
.forum_list_box { margin:20px 0; }
.forum_list_tit a { font-size:32px; font-weight:400; margin-right:20px; }
.tl th,
.tl td { border-bottom:1px solid #EFEFEF; }
#threadlist{ background:#fff;}
.xl2{ background-image:none;}
#postlist .vwthd h1{ padding:0 20px}	
#scbar_type_menu { top:115px!important; }
.ct2_a .appl { margin-left:0!important; }
.ct2_a { padding-left:0!important; }
.bdl { margin-right:10px; }
.ct2 .sd { margin-right:0!important; }
.ct2 #chart,
.ct2 #an { margin:20px 0!important; } 
.ct2 .mn { width:960px !important; }
.ct2 .sd{ width:220px}
#ct, .ct2_a{ background:#fff;min-height: calc(100vh - 140px);}
.tbn li.a{ background:#f2f2f2}
.mn{ margin-left:0 !important}
#mu ul{ background-color:#e0f1e9 !important; border:none !important; background-image:none;}
.tel_xin { height:28px; width:260px;  overflow:hidden; float:left; margin-top:26px; margin-left:40px; display:inline; padding-left:36px;}
.pnc, a.pnc{ background-image:none; border-color:#e6130d; background:#e6130d;}
.pls{ border-right:1px solid #eee}
.ad .pls{ background:#ddd}
.xl2 li{ width:48% !important}
.t_f, .t_f td{ line-height:22px}
.blue{ background:none; border:none;}
.red{ border:none; background:none;}
.l-content{width: 800px}
.side-bar{width: 350px}
.side-bar .tip{margin-bottom: 10px}
.r-tip{margin-top: 8px}
.r-tip a{display: inline-block;vertical-align: middle;width: 22px;height: 22px}
.yunzhan_tit{position:relative;font-weight:normal;font-size:18px;color:#fff;  text-indent:10px}
.yunzhan_tit:before{content:"";position:absolute;width:100%;left:0;bottom:1px}
.none-tip{font-size: 16px;color: #a8a8a8;padding: 50px 0;text-align: center}
.catname_li ul li a{width: 120px;height: 32px;line-height: 32px;font-size: 16px; display:block; text-align:center}
#yunzhan_nav span a {color:rgba(255,255,255,.7) !important;}
#umnav_menu {position: absolute; z-index: 301; top: 51px; left:1300px; width: 90px; }
.p_pop li { background: #ccc;}
#yunzhan_user {margin-top: 14px;}
.fl .bm_h{border-color: #f2f2f2;}
.bm_h{border-bottom: 1px solid #f2f2f2;}
#umnav_menu .infos { background: #19a9d8;}

 /*forum*/
#fwin_login { top:201px !important;}
#forumleftside .bdl_h{background:#fff; display:block; font-weight:700; line-height:28px; overflow:hidden; text-indent:15px;}
#scbar input{height:28px!important; background:#f8f8f8; padding:0 0 0 10px; line-height: 22px!important; width:200px !important}
.clear:after{content:'';clear:both;display:block;}
.clear{zoom:1;}
.ltbanner {
	width:760px;
	height:405px;
	float:left;
	overflow: hidden;
}
.gj_rbox {
	float: right;
	width: 375px;
	margin-bottom:20px;
}
.gj_rbox li {
    margin-bottom: 12px;
    padding: 0 16px 12px 0;
    border-bottom: 1px solid #e0e0e0;
	list-style-type: none;
}
.gj_rbox h3 {
    font-weight: 600;
    margin-bottom: 13px;
}
.fnt_18 {
    font-size: 18px;
}
.ellip {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}
.lh_11 {
    line-height: 1.1em;
}
.gj_rbox p {
    color: #828a92;
    -webkit-line-clamp: 2;
    height: 3em;
    line-height: 1.5em;
}
.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.gj_rbox a.fnt_16 {
	display:block;
	width:100%;
	height:30px;
	line-height: 30px;
	text-align: center;
	color:aliceblue;
	background:rgba(1,151,210,.6);
	border-radius:4px;
	letter-spacing: 5px;
	transition:all .3s;
}
.gj_rbox a.fnt_16:hover {
	background:rgba(1,151,210,1);
}




/*footer*/
.footer_yunzhan {
	background-color: #131313;
	padding-top: 30px;
  
   bottom:-30px;
   width:100%;
	
}
.footer_yunzhan a {
	margin-right:5px;
}
.footer {
    width: 100%;
    height: 260px;
    margin: 0 auto;
    position: relative;
}
.footer_yunzhan a {
	color:rgba(255,255,255,.5) !important;
}
.footer_yunzhan a:hover {
	color:rgba(255,255,255,.9) !important;
}
.footer .foote_bg {
    width: 100%;
    height: 100%;
    background: #202428;
}
.footer .footer_con {
    width: 1000px;
	height: 174px;
	position: absolute;
	top: 38px;
	left: 50%;
	margin-left: -500px;
}
.footer .footer_con ul li.space {
    margin: 0;
}
.footer .footer_con ul li {
    width: 188px;
    height: 174px;
    float: left;
    margin-left: 200px;
}
.footer .footer_con ul li .footer_con_title {
    float: left;
    width: 45px;
    height: 170px;
    position: relative;
}
.footer .footer_con ul li .footer_con_title .line1 {
    height: 154px;
    bottom: 0;
    left: 0;
}
.footer .footer_con ul li .footer_con_title .line1, .footer .footer_con ul li .footer_con_title .line2 {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    width: 1px;
    height: 129px;
    position: absolute;
    background: #5f5f5f;
}
.footer .footer_con ul li .footer_con_title .line2 {
    top: 0;
    right: 0;
}
.footer .footer_con ul li .footer_con_title .title_p1 {
    width: 20px;
    line-height: 32px;
    padding-top: 9px;
    margin: 0 auto;
    font-size: 20px;
    font-family: MingLiU;
    color: #fff;
}
.footer .footer_con ul li .footer_con_img {
    float: left;
    width: 114px;
    height: 158px;
    margin: 16px 0 0 28px;
}
.footer .footer_con ul li .footer_con_img img {
    width: 114px;
    height: 114px;
}
.footer .footer_con ul li .footer_con_img .img_p1 {
    margin-top: 8px;
    line-height: 18px;
    font-size: 12px;
    font-family: "microsoft yahei";
    color: #767575;
}
.footer .footer_con ul li .footer_con_img .img_p1 span,
.footer .footer_con ul li .footer_con_img .img_p1 a {
    color: #c99a05;
}
.ct3_a .mn{ width:756px}
.mi .moodfm_input{ background:none; border: 1px solid #ccc}
.mi #moodfm textarea{ width: 541px;}
.moodfm_btn button{ width: 68px !important}
.biduser{ width:988px}




/*新增*/
.f_ad_box 
form .rfm th {width:auto;}

@charset "UTF-8";
body {
  font-family: "Roboto", "PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
}

.hotline {
  width: 150px;
  height: 55px;
  line-height: 58px;
  font-size: 18px;

  font-weight: 600;
  text-align: center;
  position: absolute;
  right: 90px;
  top: 0;
}

@media (max-width: 1199px) {
 .hotline {
    width: 160px;
    height: 55px;
    line-height: 58px;
    font-size: 16px;
    font-size: 1.06667rem;
  }
}

@media (max-width: 991px){
  .hotline {
  }
}



h1, h2, h3, h4 {
  margin-top: 0;
  line-height: 1.5;
  font-weight: bold;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p, a, li, div {
  font-size: 16px;
}

a {
  color: #00C9FF;
  transition: all 0.2s;
}

a:focus, a:hover {
  color: #aea051;
  outline: none;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.section {
  padding-top: 72px;
  padding-bottom: 60px;
}

.section--bg {
  background-color: #EDF3F5;
}

.title-style {
  position: relative;
  margin-bottom: 55px;
  text-align: center;
}

.title-style:before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background-color: #444;
  z-index: 1;
  transform: translateY(-50%);
}

.title-style span {
  position: relative;
  display: inline-block;
  padding: 0 36px;
  color: #444;
  letter-spacing: 5px;
  z-index: 5;
}

.title-style .title-style--bgc {
  background-color: #EDF3F5;
}

.title-style .title-style--bgw {
  background-color: #fff;
}

.btn {
  font-size: 16px;
  border-radius: 0;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: none;
}

.btn-main {
  color: white;
  background-color:  #00C9FF;
  border-color: transparent;
  transition: 0.2s linear;
}

.btn-main:focus, .btn-main.focus {
  color: white;
  background-color: #80ad37;
  border-color: transparent;
  outline: none;
}

.btn-main:hover {
  color: white;
  background-color: #93c444;
  border-color: transparent;
}

.btn-main:active, .btn-main.active {
  color: white;
  background-color: #93c444;
  border-color: transparent;
  outline: none;
  box-shadow: none;
}

.btn-main.disabled:hover, .btn-main.disabled:focus, .btn-main.disabled.focus, .btn-main[disabled]:hover, .btn-main[disabled]:focus, .btn-main[disabled].focus, fieldset[disabled] .btn-main:hover, fieldset[disabled] .btn-main:focus, fieldset[disabled] .btn-main.focus {
  background-color: #A9D06B;
  border-color: transparent;
}

.signup__btn {
  width: 300px;
  padding: 14px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}

.menu {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1030;
 /* height: 88px;
  background-color: rgba(0, 0, 0, 0.6); */
  transition: .2s ease;
}

.menu__container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.menu__burger {
  position: absolute;
  right: 36px;
  top: 24px;
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  z-index: 9999;
}

.menu__burger span {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 4px;
  color: #fff;
  background: #fff;
  transition: all 0.3s ease-out;
}

.menu__burger span::before, .menu__burger span::after {
  content: '';
  width: 25px;
  height: 4px;
  background: #fff;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-out;
}

.menu__burger span:before {
  top: -8px;
}

.menu__burger span:after {
  bottom: -8px;
}

.menu__burger.active span {
  background: transparent;
}

.menu__burger.active span:before {
  top: 0;
  transform: rotateZ(45deg);
}

.menu__burger.active span:after {
  bottom: 0;
  transform: rotateZ(-45deg);
}

.menu__brand {
  float: left;
  padding-top: 12px;
  padding-bottom: 12px;
}

.menu__brand-logo {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.4;
  color: #fff;
}

.menu__brand-text {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.8);
}

.menu__mask {
  display: none;
}

.menu__nav {
  float: right;
  margin-top: 18px;
  margin-bottom: 0;
  margin-right: 150px;
  padding-left: 0;
  list-style: none;
}

.menu__nav li {
  display: inline-block;
}

.menu__link {
  display: block;
  margin: 12px 16px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

.menu__link:focus, .menu__link:hover {
  color: #aea051;
}

.menu__link::after {
  position: relative;
  top: 6px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-top: 2px solid #fff;
  opacity: 0;
  transition: .2s ease;
}

.menu__link:focus::after, .menu__link:hover::after {
  top: 3px;
  opacity: 1;
}

.menu__link-bg {
  display: block;
  padding: 12px 16px;
  font-weight: bold;
  color: #444;
  letter-spacing: 1px;
  background-color: #fff;
}

.menu__link-bg:focus, .menu__link-bg:hover {
  color: #fff;
  background-color: #aea051;
}

.menu__link-fb {
  display: block;
  margin-left: 12px;
  padding: 12px 16px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  background-color: #aea051;
}

.menu__link-fb:focus, .menu__link-fb:hover {
  color: #fff;
  background-color: #aea051;
}

.menu--small {
  height: 78px;
  background-color: rgba(0, 0, 0, 0.9);
}

.menu--small .menu__brand {
  padding-top: 19px;
  padding-bottom: 7px;
}

.menu--small .menu__brand-text {
  display: none;
}

.menu--small .menu__nav {
  margin-top: 13px;
}

.menu__mask--active {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  transition: .3s ease;
}

.menu__mask--active .menu__overlay {
  display: table;
  width: 100%;
  height: 100%;
}

.menu__mask--active .menu__nav {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

.menu__mask--active .menu__nav li {
  display: block;
  text-align: center;
}

.menu__mask--active .menu__link, .menu__mask--active .menu__link-bg, .menu__mask--active .menu__link-fb {
  display: inline-block;
}

.menu__mask--active .menu__link {
  margin-bottom: 24px;
  font-size: 22px;
}

.menu__mask--active .menu__link-bg, .menu__mask--active .menu__link-fb {
  width: 120px;
  font-size: 18px;
}

.menu__mask--active .menu__link-fb {
  margin-left: 0;
  margin-top: 24px;
}

header {
  color: #fff;
  background: url('https://www.aihx888.com/source/plugin/jingcai_7ree/template/touch/image/bottom_bg.jpg') no-repeat scroll left center;
}

.info__img {
  margin-bottom: 48px;
}

.info__text {
  line-height: 2;
  margin-bottom: 48px;
}

.info__btn {
  display: inline-block;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 4px;
  padding: 16px 72px;
}

.speakerbox {
  padding: 0 7px;
  margin-bottom: 36px;
}

.speakerbox__img {
  margin-bottom: 22px;
}

.speakerbox__name {
  font-size: 22px;
}

.speakerbox__job {
  margin-bottom: 10px;
  font-size: 17px;
  color: #aea051;
}

.speakerbox__dropdown {
  display: inline-block;
  padding: 1px 6px;
  margin-bottom: 14px;
  font-size: 14px;
  color: #888;
  border: 1px solid #999;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease;
}

.speakerbox__dropdown:focus, .speakerbox__dropdown:hover {
  opacity: .8;
}

.speakerbox__desc {
  display: none;
  color: #666;
  text-align: justify;
}

#event {
  background-color: #F6F8F9;
 /* position: relative;top: -88px */

}

#event .title-style--bg {
  background-color: #F6F8F9;
}

.textbg {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  padding: 2px 10px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #FF3154;
}

.event-info {
  position: relative;
  display: block;
  line-height: 30px;
}

.event__list {
  position: relative;
  padding-left: 106px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #444;
}

.event__time--em {
  font-weight: bold;
  font-size: 22px;
}

.agenda__title {
  color: #fff;
  background-color: #444;
}

.agenda__title--radiusL {
  border-top-left-radius: 8px;
}

.agenda__title--radiusR {
  border-top-right-radius: 8px;
}

.agenda__topic {
  font-weight: bold;
  font-size: 18px;
  color: #FF9910;
}

.agenda__freetime {
  font-size: 15px;
  color: #999;
  font-style: italic;
}

.table {
  background-color: #ebeef0;
}

.table > tbody > tr > td,
.table > thead > tr > th {
  padding: 12px;
  border-top: none;
  border-bottom: 1px solid #fff;
}

.table > tbody > tr > td:first-child,
.table > thead > tr > th:first-child {
  width: 140px;
  padding-left: 19px;
}

.table-hover > tbody > tr:hover {
  background-color: #dfe4e7;
  transition: .2s ease;
}

.prize__price {
  display: block;
  font-size: 14px;
  color: #888;
}

.bigprize {
  text-align: center;
}

.bigprize .prize__title {
  margin-bottom: 19px;
  color: #444;
}

.bigprize .prize__img {
  display: inline-block;
  margin-bottom: 24px;
}

.bigprize .prize__price {
  margin-top: 4px;
}

.otherprize {
  position: relative;
  padding-left: 180px;
  min-height: 154px;
}

.otherprize .prize__title {
  margin-bottom: 12px;
  color: #444;
}

.otherprize .prize__img {
  position: absolute;
  top: 0;
  left: 0;
}

.otherprize .prize__price {
  margin-top: 4px;
}

.otherprize + .otherprize {
  margin-top: 36px;
}

.otherprize:first-child {
  margin-top: 36px;
}

.text-muted {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}

.notice {
  margin-bottom: 20px;
  text-align: center;
  color: #DD5B5B;
}

.star {
  color: #DD5B5B;
}

.event-notice li {
  margin-bottom: 8px;
}

footer {
  padding: 24px 0;
  background-color: #444;
}

footer p {
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .menu {
    height: 60px;
  }
  .menu__burger {
    right: 15px;
    top: 16px;
  }
  .menu__brand {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .menu__brand-logo {
    font-size: 20px;
  }
  .menu--small {
    height: 60px;
  }
  .menu--small .menu__brand {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .speakerbox {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 639px) {
  thead {
    display: none;
  }
  .table > tbody > tr > td {
    display: block;
    width: 100%;
    border: none;
  }
  .table > tbody > tr > td:first-child {
    width: 100%;
    padding: 8px 12px;
    text-align: center;
    color: #fff;
    background-color: #444;
  }
}

@media screen and (max-width: 480px) {
  .otherprize {
    padding-left: 0;
    min-height: 154px;
    text-align: center;
  }
  .otherprize .prize__title {
    margin-bottom: 12px;
  }
  .otherprize .prize__img {
    position: relative;
    margin-bottom: 18px;
  }
  .otherprize .prize__price {
    margin-top: 4px;
  }
  .otherprize + .otherprize {
    margin-top: 36px;
  }
  .otherprize:first-child {
    margin-top: 36px;
  }
  .signup__btn {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .speakerbox__desc {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .menu__container {
    width: 98%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .speakerbox {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 992px) {
  .menu__container {
    width: 98%;
  }
}

@media screen and (min-width: 1200px) {
  .menu__container {
    width: 1170px;
  }
  .menu__burger {
    display: none;
  }
  .menu__mask {
    display: block;
  }
}


#L_header {

    position: relative;background: #fff;
/*    top: -88px; */
	
}

.landing {

    width: 90%;
    margin: auto;

}










