<!--{template common/header}-->
<!--
<style>
	body {
		background:url(template/yunzhan_zq/style/img/fbg.jpg) top center no-repeat;
	}
</style>
-->
</div>
<head>

<link rel=stylesheet type="text/css" href="template/yunzhan_zq/style/css/bootstrap.css">

</head>

<div class="landing" >
    <nav class="menu">
        <div class="menu__container">
            
			
        </div>
    </nav>
    <header id="L_header">
        <div class="L_banner" >
            <a href="https://www.aihx888.com/plugin.php?id=jingcai_7ree:jingcai_7ree">
                    <img src="./template/aihx888/images/map.jpg" width="100%" class="img-responsive">
            </a>
        </div>
    </header>

     <!-- event -->
    
    <div class="section" id="event">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title-style"><span class="title-style--bg">活動辦法</span></h2>
                </div>
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <div class="event-info">
                      <p class="event__list ">
                            <span class="textbg" >活動時間</span>即日起～2018.07.15  21:59:59止
                        </p>
                        <p class="event__list" >
                            <span class="textbg" >活動方式</span>
							1. 手機掃碼QR CODE或登入活動網站,成功加入會員後,就送投票金幣100枚<br>
							2. 加入會員必須信箱激活成功後才可以參加投票抽獎喔∼<br>
							3. 結帳消費滿500就送一張投獎券(金幣100個),1000兩張,以此類推<br>
							4. 登入會員後並輸入投票券序號馬上換金幣立刻參加投票<br>
							5. 每場比賽只有一次競猜機會<br>
							6. 每個人最高有32次投票權,不限場次,不限每場投次數,本次活動100個金幣為一次投票機會<br>
							7. 每場賽事結束後翌日我們將抽出中獎者,名單將公布在活動網頁及FB粉絲頁<br>
							8. 此活動為一次投票一個代幣,若活動結束未使用的代幣可累積至下一個活動使用</p>
                        <p class="event__list" >
                            <span class="textbg" >開獎方式</span>• 每場球賽結束後翌日將抽出得獎名單,公布於活動網頁及FB粉絲頁上<br>
                            • 中獎者官網系統會以Email方式發出中獎通知函,中獎玩家需另行與我方客服聯繫後續領獎事宜

                      </p>
                        <p class="event__list" >
                          <span class="textbg">領獎方式</span>• 填寫中獎確認單以郵寄或親領<br>• 客服需確認中獎者之身份<br>• 會計師確認無誤後即會通知領取/寄送獎品 </p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
	<!-- end event -->
	<!-- lucky draw -->
    <div class="section" id="prize">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title-style"><span class="title-style--bgw">活動獎品</span></h2>
                </div>
            </div>
	<div class="row">
                <div class="col-md-4">
                    <div class="bigprize">
                        <img src="./template/aihx888/images/gift1.jpg" alt="" class="img-circle prize__img">
						<h3 class="prize__title">決賽</h3>
                        <p class="prize__name">Apple Iphone X（64G)<br>產品價值：NT.33,000<span class="prize__price">場數：1場</span></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="otherprize">
                        <img src="./template/aihx888/images/gift2.jpg" alt="" class="img-circle prize__img">
						<h3 class="prize__title">季軍</h3>
                        <p class="prize__name">任天堂Switch主機<br>產品價值：NT.10,000<span class="prize__price">場數：1場</span></p>
                    </div>
                    <div class="otherprize">
                        <img src="./template/aihx888/images/gift3.jpg" alt="" class="img-circle prize__img">
						<h3 class="prize__title">4強</h3>
                        <p class="prize__name">Apple AirPods原廠無線藍牙耳機<br>產品價值：NT.5,000<span class="prize__price">場數：2場</span></p>
                    </div>
                </div>
	 <div class="col-md-4">
                    <div class="otherprize">
                        <img src="./template/aihx888/images/gift4.jpg" alt="" class="img-circle prize__img">
						<h3 class="prize__title">8強</h3>
                        <p class="prize__name">現金（郵政禮金）<br>產品價值：NT.3,500<span class="prize__price">場數：4場</span></p>
                    </div>
                    <div class="otherprize">
                        <img src="./template/aihx888/images/gift5.jpg" alt="" class="img-circle prize__img"> 
						<h3 class="prize__title">16強</h3>
                        <p class="prize__name">Amazfit米動手錶青春版<br>產品價值：NT.2,000<span class="prize__price">場數：8場</span></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
      
    
    <!-- end lucky draw -->
	
    <!-- speaker -->
	<div class="section section--bg" id="list">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title-style"><span class="title-style--bgc">中獎名單</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="speakerbox text-center">
                        <div class="speakerbox__img">
                            <img src="./template/aihx888/images/speaker.jpg" alt="" class="img-circle">
                        </div>
                        <h3 class="speakerbox__name">中獎名單-01</h3>
                        <h4 class="speakerbox__job">王小明</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="speakerbox text-center">
                        <div class="speakerbox__img">
                            <img src="./template/aihx888/images/speaker.jpg" alt="" class="img-circle">
                        </div>
                        <h3 class="speakerbox__name">中獎名單-02                        </h3>
                        <h4 class="speakerbox__job">王小明</h4>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-sm-6 col-md-3">
                    <div class="speakerbox text-center">
                        <div class="speakerbox__img">
                            <img src="./template/aihx888/images/speaker.jpg" alt="" class="img-circle">
                        </div>
                        <h3 class="speakerbox__name">中獎名單-03                        </h3>
                        <h4 class="speakerbox__job">王小明</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="speakerbox text-center">
                        <div class="speakerbox__img">
                            <img src="./template/aihx888/images/speaker.jpg" alt="" class="img-circle">
                        </div>
                        <h3 class="speakerbox__name">中獎名單-04                        </h3>
                        <h4 class="speakerbox__job">王小明</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
	<!-- end speaker -->
	
</div>
   
	
	
	
    


 
   <!-- end footer 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
	
<!--{template common/footer}-->
