<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2018世足競猜你當王</title>
    <meta name="description" content="2018世足競猜你當王">
    <meta name="keywords" content="2018世足競猜你當王">
    <meta name="author" content="2018世足競猜你當王">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="2018世足競猜你當王" />
    <meta property="og:description" content="" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,400' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="menu">
        <div class="menu__container">
            <div class="menu__header">
                <a href="index.html#" class="menu__burger"><span></span></a>
                <div class="menu__brand">
                    <a class="menu__brand-logo" href="https://www.aihx888.com">2018世足競猜你當王</a>
                    <div class="menu__brand-text hidden-xs">2018 WORLD CUP KING OF BETS</div>
                </div>
            </div>
            <div class="menu__mask">
                <div class="menu__overlay">
                    <ul class="menu__nav">
						<li><a href="https://www.aihx888.com" class="menu__link">我要預測 </a></li>
                        <li><a href="index.html#event" class="menu__link">活動辦法</a></li>
						<li><a href="index.html#prize" class="menu__link">活動獎品</a></li>
                        <li><a href="index.html#list" class="menu__link">中獎名單</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header id="header">
        <div >
                    <img src="https://www.aihx888.com/source/plugin/jingcai_7ree/template/image/banner-0624.jpg" width="100%" class="img-responsive">
        </div>
    </header>

	
	 <!-- event -->
    <div class="section" id="event">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title-style"><span class="title-style--bg">活動辦法</span></h2>
                </div>
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <div class="event-info">
                        <p class="event__list ">
                            <span class="textbg">活動時間</span>即日起～2018.07.15  21:59:59止
                        </p>
                        <p class="event__list">
                            <span class="textbg">活動方式</span>
							1. 手機掃碼QR CODE或登入活動網站,成功加入會員後,就送投票金幣100枚<br>
							2. 加入會員必須信箱激活成功後才可以參加投票抽獎喔∼<br>
							3. 結帳消費滿500就送一張投獎券(金幣100個),1000兩張,以此類推<br>
							4. 登入會員後並輸入投票券序號馬上換金幣立刻參加投票<br>
							5. 每場比賽只有一次競猜機會<br>
							6. 每個人最高有32次投票權,不限場次,不限每場投次數,本次活動100個金幣為一次投票機會<br>
							7. 每場賽事結束後翌日我們將抽出中獎者,名單將公布在活動網頁及FB粉絲頁<br>
							8. 此活動為一次投票一個代幣,若活動結束未使用的代幣可累積至下一個活動使用</p>
                        <p class="event__list">
                            <span class="textbg">開獎方式</span>• 每場球賽結束後翌日將抽出得獎名單,公布於活動網頁及FB粉絲頁上<br>
                            • 中獎者官網系統會以Email方式發出中獎通知函,中獎玩家需另行與我方客服聯繫後續領獎事宜

                      </p>
                        <p class="event__list">
                          <span class="textbg">領獎方式</span>• 填寫中獎確認單以郵寄或親領<br>• 客服需確認中獎者之身份<br>• 會計師確認無誤後即會通知領取/寄送獎品 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end event -->
	
	 <!-- lucky draw -->
    <div class="section" id="prize">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title-style"><span class="title-style--bgw">活動獎品</span></h2>
                </div>
            </div>
 <div class="row">
                <div class="col-md-4">
                    <div class="bigprize">
                        <img src="images/gift1.jpg" alt="" class="img-circle prize__img">
						<h3 class="prize__title">決賽</h3>
                        <p class="prize__name">Apple Iphone X（64G)<br>產品價值：NT.33,000<span class="prize__price">場數：1場</span></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="otherprize">
                        <img src="images/gift2.jpg" alt="" class="img-circle prize__img">
						<h3 class="prize__title">季軍</h3>
                        <p class="prize__name">任天堂Switch主機<br>產品價值：NT.10,000<span class="prize__price">場數：1場</span></p>
                    </div>
                    <div class="otherprize">
                        <img src="images/gift3.jpg" alt="" class="img-circle prize__img">
						<h3 class="prize__title">4強</h3>
                        <p class="prize__name">Apple AirPods原廠無線藍牙耳機<br>產品價值：NT.5,000<span class="prize__price">場數：2場</span></p>
                    </div>
                </div>
	 <div class="col-md-4">
                    <div class="otherprize">
                        <img src="images/gift4.jpg" alt="" class="img-circle prize__img">
						<h3 class="prize__title">8強</h3>
                        <p class="prize__name">現金（郵政禮金）<br>產品價值：NT.3,500<span class="prize__price">場數：4場</span></p>
                    </div>
                    <div class="otherprize">
                        <img src="images/gift5.jpg" alt="" class="img-circle prize__img"> 
						<h3 class="prize__title">16強</h3>
                        <p class="prize__name">Amazfit米動手錶青春版<br>產品價值：NT.2,000<span class="prize__price">場數：8場</span></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
        </div>
    </div>
    <!-- end lucky draw -->
	
    <!-- speaker -->
    <div class="section section--bg" id="list">
        <div class="container">
            <div class="row">
			<div class="row">
                <div class="col-md-12">
                    <h2 class="title-style"><span style="background-color: #EDF3F5">中獎名單</span></h2>
                </div>
            </div>
                <div class="container">
            <div class="row">
                <div align="center" class="col-md-12" style="padding: 0 80px 0 80px;" >
                      
                </div>
            </div>
        </div>
            </div>
            <div class="row">
              <div align="center">
				  <a href="list.html"><img src="images/btn.png" width="70%"></a> 
			  </div>
            </div>
        </div>
    </div>
    <!-- end speaker -->
    
    
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">© 2018世足競猜你當王.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
