<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2018世足競猜你當王</title>
    <meta name="description" content="2018世足競猜你當王">
    <meta name="keywords" content="2018世足競猜你當王">
    <meta name="author" content="2018世足競猜你當王">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="2018世足競猜你當王" />
    <meta property="og:description" content="" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,400' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="menu">
        <div class="menu__container">
            <div class="menu__header">
                <a href="index.html#" class="menu__burger"><span></span></a>
                <div class="menu__brand">
                    <a class="menu__brand-logo" href="https://www.aihx888.com">2018世足競猜你當王</a>
                    <div class="menu__brand-text hidden-xs">2018 WORLD CUP KING OF BETS</div>
                </div>
            </div>
            <div class="menu__mask">
                <div class="menu__overlay">
                    <ul class="menu__nav">
						<li><a href="https://www.aihx888.com" class="menu__link">我要預測 </a></li>
                        <li><a href="index.html#event" class="menu__link">活動辦法</a></li>
						<li><a href="index.html#prize" class="menu__link">活動獎品</a></li>
                        <li><a href="index.html#list" class="menu__link">中獎名單</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <header id="header">
        <div >
                    <img src="https://www.aihx888.com/source/plugin/jingcai_7ree/template/image/banner-0624.jpg" width="100%" class="img-responsive">
        </div>
    </header>
	

	

	
    <!-- speaker -->
    <div class="section section--bg" id="list" >
        <div class="container">
            <div class="row">
			<div class="col-md-12">
                    <h2 class="title-style"><span style="background-color: #EDF3F5">中獎名單</span></h2>
                </div>
                <div class="container">
            <div class="row">
                <div class="col-md-12" >
                      <table border="1" class="table">
                                <thead>
                                    <tr bgcolor="#A9A9A9">
                                        <th>比賽日期</th>
                                        <th>場次</th>
                                        <th>獎項</th>
										<th>得獎帳號</th> 
									</tr>                                
						  		</thead>
                                <tbody>
                                    <tr>
                                        <td>2018-6-30</td>
                                        <td>法國 vs 阿根廷</td>
                                        <td>Amazfit米動手錶青春版 </td>
										<td>Edkiki</td> 
                                    </tr>
                                    <tr>
                                        <td>2018-07-01</td>
                                        <td>烏拉圭 vs 葡萄牙</td>
                                        <td>Amazfit米動手錶青春版</td>
										<td>MarsChen</td> 
                                    </tr>
									<tr>
                                        <td>2018-07-1</td>
                                        <td>西班牙 vs 俄羅斯</td>
                                        <td>Amazfit米動手錶青春版</td>
										<td>從缺</td> 
									</tr>
                                    <tr>
                                        <td>2018-07-01</td>
                                        <td>克羅埃西亞 vs 丹麥</td>
                                        <td>Amazfit米動手錶青春版</td>
										<td>謙謙陳</td> 
									</tr>
                                    <tr>
                                        <td>2018-07-02</td>
                                        <td>巴西 vs 墨西哥</td>
                                        <td>Amazfit米動手錶青春版</td>
										<td></td> 
                                    </tr>
                                    <tr>
                                        <td>2018-07-03</td>
                                        <td>比利時 vs 日本</td>
                                        <td>Amazfit米動手錶青春版</td>
										<td>&nbsp;</td> 
									</tr>
									<tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
										<td>&nbsp;</td> 
									</tr>
									<tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
										<td>&nbsp;</td> 
									</tr>
									<tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
										<td>&nbsp;</td> 
									</tr>
									<tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
										<td>&nbsp;</td> 
									</tr>
									<tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
										<td>&nbsp;</td> 
									</tr>
									<tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
										<td>&nbsp;</td> 
									</tr>
									<tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
										<td>&nbsp;</td> 
									</tr>
									</tbody>                            </table>   
                </div>
            </div>
					
			
					
        </div>
            </div>
            <div class="row">
              <div class="clearfix visible-sm-block"></div>
            </div>
        </div>
    </div>
    <!-- end speaker -->
    
    
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">© 2018世足競猜你當王.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
